body {
}

.section-left {
	float: left;
    padding: 5px;
}

.section-right {
    padding: 5px;
}

.label-input {
    display: inline-block;
    min-width: 50px;
}

#outPutArea {
	width: 180px;
	height: 400px;
}

.outPutArea{
	width: 180px;
	height: 400px;
}
